*.class
*.html
*.hi

statefulAllocator
customAllocator

onePast

valgrindDoubleFree
valgrindRealloc
valgrindStrlen

labltk_space

# utility
arrDump

# tests how C/C++ works
tmInit
handle
mcLiteral
passTemp
typeid

# tests how C++11 works
arraySort

# x86 benchmark
busTraffic
cacheMiss
